{% extends 'home.html'%}

{% block content %}
{% include 'navbar.html'%}


<h2 style="text-align: center";>{{ object.title }}</h2>
<p style="text-align: center";>Descrição: {{ object.description }}</p>
<p style="text-align: center";>Valor: R${{ object.price }}</p>
  <table class="table table-bordered" style="text-align: center";>
    <thead>
      <tr><h3 style="text-align: center";> Acompanhamentos </h3></tr>
      <div class="container">
        <form action="{% url 'products:finished' %}" method="POST"> {% csrf_token%}
          {{form}}
          <p><input type="submit" value="Confirmar" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" />
        </input>
        </p>
        </form>
        {% comment %} {% for obj in object %} {% endcomment %}

          {% comment %} <td> {{ forloop.counter }} - {{obj}} {% endcomment %}
             {% comment %} <input type="checkbox" class="custom-control-input" value='{{obj.id}}' name='choices'/> {% endcomment %}
          {% comment %} </td> {% endcomment %}
          {% comment %} {% endfor %} {% endcomment %}
          {% comment %} {{acomp}} {% endcomment %}

      </div>
   
    </thead>
  </table>


{% endblock %}