{% extends 'home.html'%}

{% block content %}
<h1 style='text-align:center'>Quentinhas Individuais </h1>
{{ object.title }}
<p style='text-align:center'>{{ object.price }}</p>


{% for instance in object_list %}
<table class='table'>
<tbody>
<td>
    <tr>
        <a href="{{instance.get_absolute_url}}"> <h2 style='text-align:center'> {{instance.title}} </h2></a>
        <p style='text-align:center'> {{instance.description }} </p>
        <h3><p style='text-align:center' class='px-20'> R$ {{instance.price|floatformat:2}}</p></h3>
    </tr>
</td>
</tbody>
</table>

{% endfor %}
{% endblock %}