{% extends 'home.html' %}
{% load static %}
{% block content %}


<p class='fs-2'>Phone Page</p>
<form method='POST'>
    {% csrf_token %}
    {{form.as_p}}
    <button type='submit' onclick={% url 'cart:finish'%} class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'> CONFIRM</button>
</form>



<script src={% static '/js/jquery-3.6.1.min.js' %} type='text/javascript'></script>
<script src={% static '/js/jquery.mask.min.js' %}></script>
<script src={% static '/js/mask.js' %} type='module'></script>
{% endblock content %}