<!doctype html>
{% include 'topbar.html'%}
<html>
<head>
    <title>Home Page</title>
    {% block head%}
    {% endblock head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
{%block content%}
<div class='container'>
    <div class='center'>
        <a href="{% url 'products:feijoada-list'%}">
            <button style="width:200px;height:150px;" class="btn-lg bg-green-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow ">
                Feijoadas
            </button></a>

        <a href="{% url 'products:quentinha-list'%}">
            <button style="width:200px;height:150px;" class="btn-lg bg-white bg-blue-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Quentinhas
            </button></a>
    </div>
</div>


<div class='container'>
    <div class='center'>
        <a href="{%url 'products:bebidas' %}">
            <button style="width:200px;height:150px;" class="btn-lg bg-white bg-red-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Bebidas
            </button></a>

        <a href='#'>
            <button style="width:200px;height:150px;" class="btn-lg bg-white bg-yellow-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Porções Extras
            </button></a>
    </div>
</div>



{% endblock content %}
</body>
</html>