<nav class="navbar navbar-light" style="background-color: white;">
    <div class='container'>
        <div class='w-6/12 flex flex-nowrap'>
            <a href="{% url 'products:quentinha-list' %}">
                <button ><h3> Voltar </h3>
                </button>
            </a>
        </div>
        <div class='w-6/12'>    
            {% comment %} <h3 style='text:align:right'> {{object.title}} </h3> {% endcomment %}
        </div>
        <hr style="border-bottom: 1px solid black";></hr>
    </div>
</nav>