{% load static %}

<nav class="navbar navbar-light shadow p-1 mb-3 bg-body rounded" style='background-color: #e3f2fd;'>
  <div class='container-fluid '>
    <div class='align-items: middle '>
    <a class="navbar-brand" href="/">
      <img src="{% static 'img/logo.jpeg' %}" width="70" height="70" class="d-inline-block align-text-middle" alt=""/>
    </a>
    <span class='d-inline-block'><h2>Disk Feijoada</h2></span>
    </div>
      <a class='navbar-brand' href="{% url 'cart:cart'%}">  
        <span class='justify-content: space-between'>
          <i class="bi bi-cart4"></i> 
        </span>
      </a>
</div>


</nav>


